.nft_mint_dapp {
  width: 70vw;
  margin-block-start: 15px;
  padding: 20px;
  font-size: small;
  color: #282c34;
  background-color: rgb(240, 255, 255);
}

.header_label {
  margin: 0;
  font-size: small;
}

main {
  display: flex;
  justify-content: space-between;
}

img {
  width: 200px;
  height: auto;
}

.address_field {
  margin: 20px;
}

.metadata_field {
  margin: 20px;
}

.nft_mint {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
